.folder {
  transition: 1s;
  g{
    transition: inherit;
  }

  &__back {
    transform-origin: 8% 55%;
    transition: inherit;
  }
  &__page {
    transform-origin: 8% 55%;
    transition: inherit;
  }
  &__front {
    transform-origin: 8% 55%;
    transition: inherit;
  }
  &__strings{
    transform-origin: 8% 55%;
    transition: inherit;
  }

  &:hover{
    .folder__back {
      transform:rotate(-3deg) ;
      transition: inherit;
    }

    // .folder__page
    .folder__page {
      transform:translateY(-20px);
      transition: inherit;

    }

    // .folder__front
    .folder__front {
      transform:rotate(3deg) ;
      transition: inherit;
    }
    .folder__strings{
      transform:translateY(-40px);
    }
  }

}
