@import "addidions/screen-mixins";

.about-us {
  margin: 150px 0;
    @include media-phones375max  {
    margin: 20px 0;
  }
  &_header {
    text-align: center;
      @include media-phones375max  {
      text-align: left;
    }
  }
  &_heat {
    font-weight: 400;
    font-size: 94px;
    letter-spacing: -0.04em;
    color: #142251;
      @include media-phones375max  {
      font-size: 40px;
    }
  }
  &_subtext {
    font-size: 34px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #989EB1;
    max-width: 500px;
    margin: auto;
      @include media-phones375max  {
      font-size: 14px;
      margin: 20px 0;
    }
  }
  &_list-card {
    display: flex;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.04em;
    justify-content: space-between;
    margin-top: 100px;

      @include media-phones375max  {
      font-size: 17px;
      line-height: 120%;
      letter-spacing: -0.02em;
      margin-top: 20px;
      flex-wrap: wrap;
    }
  }
}