.how-we-work {
  padding-top: 310px;
  display: flex;
  @media screen and (max-width: 376px)  {
    padding-top: 50px;
  }
  &_left {
    flex-grow: 1;
    max-width: 454px;
    min-width: 335px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
  }
  &_header {
    @media screen and (max-width: 376px)  {
      font-size: 40px;
      line-height: 85%;
      letter-spacing: -0.04em;

    }
    font-size: 84px;
    line-height: 100%;
    letter-spacing: -0.04em;
  }
  &_main {}
  &_card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &_right {}
}