@import 'addidions/screen-mixins.scss';
@import "addidions/functions";
.slider {
  background: #F3F6F9;
  padding: 30px;
  border-radius: 50px;

   @include media-phones375max {
    margin: -15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    @include media-large-desktop1200min{
      padding: 100px 82px;
    }
     @include media-portrait767max {

      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  &__heat {
    font-size: clamp(40px,getPercentW(94) ,94px)



  }
  &__subtext {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #989EB1;
    max-width: 323px;
     @include media-phones375max {
      font-size: 14px;
    }


  }
  &__list {
    @include media-phones375max{
      width: 100%;
    }
  }
  &__item {  cursor: pointer; }

  // .slider__navigate
  &__navigate {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding: 24px;
    width: 169px;
    height: 84px;
    overflow: hidden;
    background: white;
    transition: box-shadow ease 0.5s;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      height: 30%;
      width: 1px;
      background: #e4e7f1;
      //transform: translateY(-30%);
    }
    &:hover{
      box-shadow: black 0 0 10px;
    }
    &:active{
      box-shadow: black -5px 0px 10px;
    }
    &:has(.slider__navigate-button_prev:hover,.slider__navigate-button_prev:active)  {
        box-shadow: black -5px 0px 10px;
    }
    &:has(.slider__navigate-button_next:hover,.slider__navigate-button_next:active)  {
      box-shadow: black 5px 0  10px;
    }
  }

  // .slider__navigate-button
  &__navigate-button {
    background: transparent;
    border: none;
    outline: none;
    transition: .3s  ;
    &:hover g{
      opacity: 1;
    }
    &:active g{
      opacity: 1;
    }
    &:focus{
      transform: scale(1.1);
    }
    &:hover{
      transform: scale(1.1);
    }
    &:active{
      transform: scale(1.2);
    }

    & g{
      opacity: 0.22;
    }

  }
}

.slider-item {

  background: #FFFFFF;
  border-radius: 40px;
  max-width: 425px;
  padding: 10px;
  margin:10px;
   @include media-phones375max {
    margin:0;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: clamp(224px,getPercentW(194),194px);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    background: #f3f6f9;
    max-width: 405px;
    &__fils{
      display: flex;
      gap:30px;
      padding: 38px 34px;
      @include media-portrait767max{
        padding: 30px 26px;
        gap: 25px;
      }
      svg{
        min-width:clamp(105px,getPercentW(125),125px);
        min-height: clamp(130px,getPercentW(150),150px);
        flex: 0 0 1;
      }
    }
  }
  &__body {
    padding: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    max-width: 345px;

  }
  &__header {
    font-size: clamp(20px, getPercentW(34),34px);
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #142251;
  }
  &__main {
    font-family: var(--font-family);
    padding-left: 10px;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #142251;
     @include media-phones375max {
      font-size: 14px;
    }
  }
  &__li {
    list-style: disclosure-closed;
    margin: 10px;
  }
}