<article class="desktop">
    <div class="desktop__header">
        <div class="desktop__circle circle circle_while"></div>
        <div class="desktop__circle circle circle_while"></div>
        <div class="desktop__circle circle circle_while"></div>
    </div>
    <div class="desktop__body">
        <div class="desktop__strip strip"></div>
        <div class="desktop__strip-circle">
            <div class="desktop__strip strip"></div>
            <div class="desktop__circle circle"></div>
        </div>
        <div class="desktop__strip-circle">
            <div class="desktop__circle circle circle_while"></div>
            <div class="desktop__strip strip strip_while"></div>
        </div>
        <div class="desktop__strip strip strip_while"></div>
    </div>
    <div class="desktop__touchpad"></div>
</article>