<div class="about-us ">
    <div class="container">
    <div class="about-us_header">
        <h2 class="about-us_heat">Кто мы?</h2>
        <p class="about-us_subtext">О нас не пишут рейтинговые агентства и поисковые системы</p>
    </div>
    <div class="about-us_list-card">
        <div class="about-us_card card card__one">
            <div class="card_header">
                <div class="card_left">
                    <div class="card_icon">
                        <img src="img/attachment.png" alt="">
                    </div>
                    <p class="card_note">заметка </p>
                </div>
                <div class="card_right">
                    <div class="card_icon">
                        <img src="img/edit-alt.png" alt="">
                    </div>
                    <div class="card_icon">
                        <img src="img/close.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card_body">
                <div class="card_img">
                    <img src="" alt="">
                </div> 
                <p><span>1.</span>  Работаем только 
                    по рекомендации 
                    от "своих"</p>
            </div> 
            <div class="card_footer">
                <div class="card_left">

                </div>
                <div class="card_right">
                    <div class="card_attachmet">
                        <img src="img/Group%201390.png" alt="">
                    </div>
                </div>
            </div>            
        </div>
        <div class="about-us_card card card__two">
            <div class="card_body">
                <div class="card_img">
                    <img src="img/Polaroid%20600%20Format.png" alt="">
                </div> 
                <p><span>2.</span>Применяем
                    агентскую сеть
                    по всему миру</p>
            </div>
        </div>
        <div class="about-us_card card card__three">

            <div class="card_body">

                <p><span>3.</span> Используем арсенал профессиональных технических средств
                </p>
                <div class="card_img">
                    <img src="img/wrapper.png" alt="">
                </div>
            </div>
        </div>
        <div class="about-us_card card card__four">

            <div class="card_body">
                <div class="card_img">
                    <img src="img/star.png" alt="">
                </div>
                <p><span>4.</span>  Считаем
                    что репутация важнее денег
                </p>
            </div>

        </div>
    </div>        
        
    </div>

</div>