<div class="contact-us container">
	<div class="contact-us_header">
		<h2>Связаться с нами</h2>
		<div class="go-up">
			<img src="@@webRoot/static/img/down.png" alt=""/>
		</div>
	</div>
	<form class="contact-us_form" name="contact-us" id="contact-us">
		<label>Меня зовут
		<input type="text" name="full-name" placeholder
 = "Караникола Евгений"> </label>
		<label>Мой email
 		<input type="email" name="email" placeholder
 = "example@gmail.com"> </label>
		<label>Мой номер
			<input type="number" name="number" placeholder
					= "+7 (___) ___-____."> </label>
		<label class="contact-us_subtext"><input  type="checkbox">Согласие на обработку персональных данных</label>
		<button aria-label="Оформить заявку" class="button button__application" form="contact-us">
			<p class="button_text">Оформить заявку</p>
			<div class="button_img">
				<img src="@@webRoot/static/img/Subtract.png" alt="+"/>
			</div>
		</button>
	</form>
</div>