<div class="how-we-work container">
	<div class="how-we-work_left">
		<div class="how-we-work_header">
			<h2>Как мы работаем</h2>
		</div>
		<div class="how-we-work_main">
			<div class="how-we-work_card card-work">
				<div class="card-work_header">
					<div class="card-work_icon">
						<img src="img/pointer-left.png" alt="">
					</div>
					<div class="card-work_left-text">
						<p class="card-work_subtext">
							01
						</p>
					</div>
				</div>
				<div class="card-work_main">
					<p>Разбираемся в ситуации</p>
				</div>
			</div>
		</div>
	</div>
	<div class="how-we-work_right">
		<img src="img/graphics.png" alt="">
	</div>


</div>