<div class="our-clients container">
	<div class="our-clients_header">
		<h2>Наши клиенты</h2>
	</div>
	<div class="our-clients_list">
		<div class="our-clients_item">
			<div class="our-clients_icon">
				<img src="@@webRoot/static/img/Frame%2041.png" alt=""/>
			</div>
			<div class="our-clients_subtext">
				<p>Политики</p>
			</div>
		</div>
		<div class="our-clients_item">
			<div class="our-clients_icon">
				<img src="@@webRoot/static/img/Frame%2041.png" alt=""/>
			</div>
			<div class="our-clients_subtext">
				<p>Политики</p>
			</div>
		</div>
		<div class="our-clients_item">
			<div class="our-clients_icon">
				<img src="@@webRoot/static/img/Frame%2041.png" alt=""/>
			</div>
			<div class="our-clients_subtext">
				<p>Политики</p>
			</div>
		</div>
		<div class="our-clients_item">
			<div class="our-clients_icon">
				<img src="@@webRoot/static/img/Frame%2041.png" alt=""/>
			</div>
			<div class="our-clients_subtext">
				<p>Политики</p>
			</div>
		</div>
	</div>

		<p class="our-clients_subtext">Строго соблюдаем конфиденциальность и дорожим репутацией каждого клиента</p>

</div>