<section class="container" >

		<div class="slider">
			<div class="slider__headen">
				
				<h2 class="slider__heat">Услуги</h2>
				<p class="slider__subtext">Когда другие бессильны - мы делаем</p>
				 <div class="slider__navigate">
					 <div tabindex="0" class="slider__navigate-button slider__navigate-button_prev" type="button" aria-label="prev slide" title="prev slide">
						 <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							 <g  >
								 <path d="M17.5607 7.9391C18.1464 8.52488 18.1464 9.47463 17.5607 10.0604L11.1213 16.4998H28.5C29.3284 16.4998 30 17.1713 30 17.9998C30 18.8282 29.3284 19.4998 28.5 19.4998H11.1213L17.5607 25.9391C18.1464 26.5249 18.1464 27.4746 17.5607 28.0604C16.9749 28.6462 16.0251 28.6462 15.4393 28.0604L6.43934 19.0604C6.15804 18.7791 6 18.3976 6 17.9998C6 17.6019 6.15804 17.2204 6.43934 16.9391L15.4393 7.9391C16.0251 7.35331 16.9749 7.35331 17.5607 7.9391Z" fill="#142251" />
							 </g>
						 </svg>
					 </div>
					 <div tabindex="0"  class="slider__navigate-button slider__navigate-button_next " type="button" aria-label="next slide" title="next slide">
						 <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							 <g  >
							 <path d="M18.4393 7.9391C19.0251 7.35331 19.9749 7.35331 20.5607 7.9391L29.5607 16.9391C29.842 17.2204 30 17.6019 30 17.9998C30 18.3976 29.842 18.7791 29.5607 19.0604L20.5607 28.0604C19.9749 28.6462 19.0251 28.6462 18.4393 28.0604C17.8536 27.4746 17.8536 26.5249 18.4393 25.9391L24.8787 19.4998L7.5 19.4998C6.67157 19.4998 6 18.8282 6 17.9998C6 17.1713 6.67157 16.4998 7.5 16.4998H24.8787L18.4393 10.0604C17.8536 9.47463 17.8536 8.52488 18.4393 7.9391Z" fill="#142251" />
							</g>
						 </svg>
					 </div>
				 </div>
			</div>
			<div id="slider-service" class="slider__list swiper">
				<div class="slider__wrapper swiper-wrapper">
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
					<article class="slider__item slider-item swiper-slide">
						<div class="slider-item__img">
							<img src="@@webRoot/static/img/work__in__file.png" alt=""/>
						</div>
						<div class="slider-item__body">

							<h2 class="slider-item__header">
								Работа с информацией
							</h2>
							<ul class="slider-item__main">
								<li class="slider-item__li">Поиск и проверка информации</li>
								<li class="slider-item__li">Составление персонального досье</li>
								<li class="slider-item__li">Работа с репутацией (защита персональных данных)</li>
								<li class="slider-item__li">Информация по номеру телефона</li>
							</ul>
						</div>
					</article>
				</div>

			</div>	

		</div>
	</section>
