
	<div class="container">

		<div class="slaider">
			<div class="slaider_headen">
				
				<h2 class="slaider_heat">Услуги</h2>
				<p class="slaider_subtext">Когда другие бессильны - мы делаем</p>
				<img src="@@webRoot/static/img/чат.png" alt=""/>
			</div>
			<div class="slaider_list">
				<div class="slaider_item slaider-item">
					<div class="slaider-item_img">
						<img src="@@webRoot/static/img/work_in_file.png" alt=""/>
					</div>
					<div class="slaider-item_body">
						
						<h2 class="slaider-item_header">
							Работа с информацией
						</h2>
						<ul class="slaider-item_main">
							<li class="slaider-item_li">Поиск и проверка информации</li>
							<li class="slaider-item_li">Составление персонального досье</li>
							<li class="slaider-item_li">Работа с репутацией (защита персональных данных)</li>
							<li class="slaider-item_li">Информация по номеру телефона</li>
						</ul>
					</div>
				</div>	
			</div>	

		</div>	
	</div>
