
<header class="header">
    <div class="header__left">
        <img class="header__image" alt="" src="@@webRoot/static/img/icon.png"/>
    </div>

    <nav class="header__center menu">
            <button id="burger" class="button button-not-backrount menu__tachBord">
                <svg width="28" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_172_46)">
                        <path d="M5 8H23" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 14.5H23" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <filter id="filter0_d_172_46" x="0" y="0" width="28" height="21.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_172_46"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_172_46" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            </button>
            <ul  class="menu__list">
                <li><a href="" class="menu__item">Главный </a></li>
                <li><a href="" class="menu__item">О нас</a></li>
                <li><a href="" class="menu__item">Услуги</a></li>
                <li><a href="" class="menu__item">Как мы работаем</a></li>
                <li><a href="" class="menu__item">Клиенты</a></li>
                <li><a href="" class="menu__item">Контакты</a></li>
            </ul>
    </nav>

    <button class="button header__right button-not-backrount">
        <p class="button__text">Оформить заявку</p>
        <div class="button__img">
            <img src="@@webRoot/static/img/Subtract.png" alt="+">
        </div>
    </button>
</header>