<head>
    <meta charset="utf-8" />
    <title>Title</title>
    @@include('meta/meta.html')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css" integrity="sha512-pmAAV1X4Nh5jA9m+jcvwJXFQvCBi3T17aZ1KWkqXr7g/O2YMvO8rfaa5ETWDuBvRq6fbDjlw4jHL44jNTScaKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@@webRoot/static/css/main.css" rel="stylesheet" referrerpolicy="no-referrer" >
  <script defer src="@@webRoot/static/js/main.js" referrerpolicy="no-referrer"></script>
</head>