@import "fonts.css";
@import "components/addidions/root";

@import "components/addidions/variable";
@import "components/addidions/fout-var";
@import "components/addidions/color-var";

@import "components/addidions/style_zeroing";


@import "components/addidions/mixins";
@import "components/addidions/screen-mixins";
@import "components/addidions/functions";

@import "components/buttons";
@import "components/header";
@import "components/menu";
@import "components/container";
@import "components/slider";

@import "components/about-us";
@import "components/card";
@import "components/card-work";
@import 'components/start-page';
@import "components/main-svg/main-svg";
@import "components/text";

section+section{
  margin-top: 50px;
}


body{
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  padding: 0 clamp(20px,2.6vw, 50px);

}
main{
  min-height: 100vh;
}


a,a:visited{
  color:black;
}
picture,
  svg,
  source,
  img,{
  max-width: 100%;
  width: 100%;
  height: auto;
}

#person1{

}

h1,
h2,
h3,
h4,
h5,
a,
p{
  font-family: Gilroy, sans-serif;
  @extend %main_font;
}
#voice-recorder{
  display: flex;
  justify-content: center;
  padding: 5%;
  svg{
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

#lose-human{
  position: relative;

  img{
    position: absolute;
    max-width: 60%;
    transition: .3s;
    animation-name:blink;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
    &:first-child{
      animation-delay: 1s;
      animation-duration: 5s;
      transform: translateY(-10%);
    }
    &:nth-child(2){
      top:0;
      left: 0;
      animation-duration: 5s;
      transform: translate(38%, 30%);
      z-index: 100;
    }
    &:last-child{
      bottom: 0;
      right: 0;
      animation-delay: 2s;
      animation-duration: 5s;
      transform: translateY(10%);
    }
  }
}
@keyframes blink {
  0%{
  opacity: 1;
}
  50%{opacity: 0}
  100%{opacity: 1}
}


